In [2]:
#A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.
import pandas as pd
import numpy as np

In [6]:
label = ['a','b','c']
num = [1,2,3]
arr = np.array([1,2,3])
dict = {'k1':'1','k2':'2','k3':'3'}

In [8]:
label

['a', 'b', 'c']

In [9]:
num

[1, 2, 3]

In [10]:
arr

array([1, 2, 3])

In [11]:
dict

{'k1': '1', 'k2': '2', 'k3': '3'}

In [12]:
#now
pd.Series(dict)

k1    1
k2    2
k3    3
dtype: object

In [13]:
pd.Series(data=num,index=label)

a    1
b    2
c    3
dtype: int64

In [14]:
pd.Series(arr)

0    1
1    2
2    3
dtype: int64

In [16]:
#You can also pass predefined funtions in Series()
pd.Series([sum,print,min])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function min>
dtype: object

In [17]:
ser1 = pd.Series([1,2,3,4,5],['USA','UK','Germany','Italy','China'])

In [18]:
ser2 = pd.Series([1,2,3,4,5],['USA','UK','Italy','Japan','India'])

In [19]:
ser2['UK']

2

In [20]:
ser1['USA']

1

In [21]:
ser1 + ser2

China      NaN
Germany    NaN
India      NaN
Italy      7.0
Japan      NaN
UK         4.0
USA        2.0
dtype: float64